/about.html
/blog-single.html
/bootstrap-5-elements.html
/careers.html
/contact.js
/demo
/facilities.html
/fonts
/form.js
/gallery-carousel.html
/gallery-grid.html
/gallery-marquee.html
/gallery.html
/history.html
/homepage-2.html
/homepage-3.html
/homepage-4.html
/homepage-beach-resort.html
/homepage-bold-2.html
/homepage-city-apartment.html
/homepage-modern-2-dark.html
/homepage-modern-2.html
/homepage-modern.html
/homepage-mountain-hotel.html
/images-beach-resort
/images-city-apartment
/images-mountain-hotel
/images_02
/index2.html
/main1.webp
/main2.webp
/main3.webp
/news-classic.html
/news-creative.html
/news-modern.html
/news-plain.html
/news-poster-fullpage.html
/news-poster.html
/news-sidebar-1.html
/news-single.html
/news.html
/onepage-homepage-main.html
/pricing-table.html
/project-single.html
/recaptcha.html
/reservation.html
/room-single-style-2.html
/room-single.html
/rooms-style-2.html
/rooms-style-3.html
/rooms.html
/special-offer-single.html
/special-offers.html
/testimonials.html
/vehicle-single-1.html
/vehicle-single-2.html
/vehicle-single-3.html
/vehicle-single.html
/vehicles.html